/* import google fonts... */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display";
    line-height: 1.6;
    color: #333;
}

header {
    background: #A675A1;
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #563856;
}

/********** Hero Section **********/
.hero {
    position: reflective;
    height: 450px;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1615366105533-5b8f3255ea5d?q=80&w=1734&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: #A675A1;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background: #634063;
}

/****** Gallery Slider *********/
.gallery {
    padding: 4rem 2rem;
    background: #f8f9fa;
    text-align: center;
}

.gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #6F496F;
}

.slider-container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    height: 500px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/********** Slider Nav *********/
.slider-nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    padding: 1rem;
}

.slider-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    transition: background 0.3s;
}

.slider-dot.active {
    background: #B690B6;
}

/* ******** Arrows ******** */
.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 10;
    border-radius: 5px;
}

.slider-arrow:hover {
    background: rgba(0,0,0,0.8);
}

.slider-arrow.prev {
    left: 10px;
}

.slider-arrow.next {
    right: 10px;
}

/* ************ About Page ************ */
.about {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #563856;
    text-align: center;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.about-text p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.8;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* ************ Menu Page ************* */
.menu {
    padding: 4rem 2rem;
    background: #E7DAE7;
}

.menu h1, h2  {
    color: #6F496F
}

.menu-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.menu-item {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 1rem 1rem;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-item-content {
    padding: 1.5rem;
    position: relative;
}

.menu-item h3 {
    color: #6E4965;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.menu-item p {
    color: #946194;
    margin-bottom: 1rem;
}

.menu-item .price {
    font-size: 1.3rem;
    color: #946194;
    font-weight: bold;
}

/* ********* Contact Page *********** */
.contact {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.contact h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #6F496F;
    text-align: center;

}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #6F496F;
    text-align: center;
}

.contact h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #6F496F;
    text-align: left;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-bottom: 2rem;
}

.contact-form {
    background: #F7F3F7;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #A675A1;
    font-weight: 600;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-family: "Playfair Display";
    font-size: 1rem;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #936287;
}

.form-group textarea {
    min-height: 150px;
    resize: vertical;
}

.submit-btn {
    width: 100%;
    padding: 1rem;
    background: #A675A1;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover {
    background: #563856;
}

.map {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    height: 450px;
}

.map iframe {
    width: 100%;
    height: 100%;
    min-height: 400px;
    border: none;
}

.contact-info {
    text-align: left;
    background: #F7F3F7;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    max-width: 400px;
}

.contact-info p {
    margin: 0.5rem 0;
    color: #6F496F;
    font-size: 1.1rem;
}

footer {
    background: #A675A1;
    color: #fff;
    padding: 3rem 2rem;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.footer-section h3 {
    color: #fff;
    margin-bottom: 1rem;
}

.footer-section p {
    line-height: 1.8;
}

.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #563856;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #444;
}

/* *********** CART FEAUTURE***************** */
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background: #A675A1;
    color: white;
    position: sticky;
    top: 0;
}

.cart-header h2 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

/* Floating Cart Button */
.floating-cart-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #6F496F;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(124, 179, 66, 0.4);
    z-index: 1001;
}

.cart-sidebar.open {
    right: 0; /* Slide in when open */
}


.floating-cart-btn .cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #986598;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    display: flex;
    align-items: center-top;
    justify-content: center;
    font-weight: bold;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -600px;
    width: 600px;
    height: 100vh;
    background: #eee9ee; 
    box-shadow: -2px 0 10px rgba(0,0,0,0.3);
    transition: right 0.3s ease;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.cart-items {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid;
}

.cart-actions {
    padding: 1rem;
    text-align: right;
}

.cart-total {
    padding: 1rem;
    padding-bottom: 2rem;
}

.clear-cart-btn {
    background: #946194;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
    font-family: "Playfair Display";
    margin-left: auto;
}

.click-text {
    color: #946194;
    font-style: italic; 
    font-size: 0.8rem; 
    text-align: right; 
    bottom: 1rem; 
    right: 1rem;
    position: absolute;
    transition: color 0.3s ease;
}

.clear-cart-btn:hover {
    background: #6F496F;
}

.menu-item:hover .click-text {
    color: #d67ccd;
}

.item-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.close-cart {
    background: #946194;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: bold;
    min-width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-cart:hover {
    background: #6F496F;
    transform: scale(1.1);
}

.quantity {
    min-width: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}
.quantity-btn {
    background: #A675A1;
    color: white;
    border: none;
    /* padding: 0.5rem;  */
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 1rem;
    flex-direction: row;
}

.remove-item {
    background: #6F496F;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s;
    font-family: "Playfair Display";
}

.remove-item:hover {
    background: #9a649a;
    transform: scale(1.05);
}

/***** CHECKOUT ******/
.checkout-btn {
    width: 100%;
    padding: 1rem;
    background: #A675A1;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    font-family: "Playfair Display";
    margin-top: 1rem;
}

.checkout-btn:hover { 
    background: #6F496F; 
}

.checkout-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-modal {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    max-width: 500px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;

}

.checkout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #6F496F;
}

.checkout-header h2 {
    color: #6F496F;
    margin: 0;
    font-size: 1.8rem;
}

.checkout-header button {
    background: #A675A1;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    font-size: 1.1rem;
    cursor: pointer;
}

.order-summary {
    background: #f0e9f0;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 1.5rem 0;
}

.order-summary h3 {
    color: #6F496F;
    margin-bottom: 1rem;
    border-bottom: 1px solid #6F496F;
    padding-bottom: .2rem;

}

.order-summary > div {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    margin: 0.8rem 0; 
    padding: 0.1rem 0;
    border-bottom: #6F496F;
    

}

.place-order-btn {
    background: #A675A1;
    color: white;
    border: none;
    border-radius: 10%;
    font-size: 14px;
    cursor: pointer;
    padding: .5rem .7rem;
    font-family: 'Playfair Display';
    transition: background 0.3s;

}

/******** Media Queries ************/
/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #fff;
    transition: 0.3s;
}

/********* MOBILE ***********/

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    nav ul {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background: #A675A1;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: 2rem 0;
        gap: 1rem;
    }

    nav ul.active {
        left: 0;
    }
    
    /*** Hero Section ***/
    .hero {
        height: 350px;
    }
    
    .hero-content h1 {
        font-size: 2.5rem;
    }
    
    .hero-content p {
        font-size: 1.2rem;
    }

     /*** About ***/
     .about-content {
        grid-template-columns: 1fr;
    }
    
    /*** Menu ***/
    .menu-grid {
        grid-template-columns: 1fr;
    }
    
    /*** Contact   ***/
    .contact {
        padding: 3rem 1rem;
    }

    .contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
    .contact-form {
        padding: 1.5rem;
    }

    /* Slider */
    .slide {
        height: 350px;
    }
    
    /* Footer */
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .social-links {
        justify-content: center;
    }

    /* Cart Mobile */
    .cart-sidebar {
        width: 100vw;
        right: -100vw;
    }

    .cart-sidebar.open {
        right: 0;
    }
    .cart-header {
        padding: 1rem;
    }

}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 2rem;
    }
    
    .gallery h2,
    .about h2,
    .menu h2,
    .contact h2 {
        font-size: 2rem;
    }
}